.main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: #2148c0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 300px;
  z-index: 10;
}

.form {
  width: 100%;
}
.inputs {
  margin-bottom: 60px;
}

.patternRight {
  position: absolute;
  top: 0;
  right: 0;
}
.patternLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cartIcon {
  margin-bottom: 70px;
}

.inputContainer {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px;
}
.inputIcon {
  margin-right: 20px;
}
.inputError {
  color: red;
  margin: 5px 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-family: Montserrat;
}
.input::placeholder {
  color: #fff;
  /* text-align: center; */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}
.button {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 0;
  color: #2148c0;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
}
.button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}
.forget {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  float: right;
}
